body{
	font-family: "Courier New", Courier, monospace;
	/*font-size: 10px;*/
	background-color: #CCCCCC;
}
div.row {
	overflow: auto;
	background-color: #FFFFFF;
	margin: 5px;
	border-radius: 3px;
	padding: 2px;
	box-shadow: 1px 1px #AAAAAA;
}
div.col {
	float: left;
}
div.col.due {
	width: 180px;
}
div.col.status {
	width: 100px;
}
div.col.edit {
	width: 80px;
}
div.col p {
	margin: 0;
}
div.col.title {
	width: 600px;
	word-wrap: break-word;
}
div.row div.detail {
	overflow: hidden;
	padding-left: 14px;
}
div.row div.row div.detail {
	padding-left: 7px;
}
div.row div.row div.row div.detail {
	padding-left: 0px;
}
div.row div.row {
	background-color: #CCCCCC;
}
div.row div.row div.row {
	background-color: #FFFFFF;
}
div.row div.list {
	/*
	background-color: #CCCCCC;
	margin: 3px;
	padding-top: 1px;
	padding-bottom: 1px;
	border-radius: 5px;
	*/
}

textarea {
	width: 500px;
}

@media screen and (min-width: 480px) 
{
	div.task_row div
	{
		/*float: left;*/
	}
}



