body{
	font-family: "Courier New", Courier, monospace;
	/*font-size: 10px;*/
	background-color: rgb(0, 121, 191);
}
div.row {
	overflow: auto;
	background-color: #FFFFFF;
	margin: 5px;
	border-radius: 3px;
	padding: 2px;
	box-shadow: 1px 1px #AAAAAA;
}
div.tasks_lists {
	width: 100000px;
}
div.tasks_list {
	margin: 5px;
	padding: 5px;
	width: 200px;
	float: left;
	background-color: #cccccc;
	border-radius: 3px;
}
div.tasks_list div.title {
	font-weight: bold;
}
div.tasks_list input {
	width: 100px;
}
div.tasks_list_item input {
	width: 100px;
}
div.tasks_list_item {
	margin: 5px;
	margin-top: 10px;
	padding: 5px;
	background-color: #ffffff;
	border-radius: 3px;
}
div.tasks_list_item.drop {
	background-color: #aaaaaa;
	height: 30px;
}

/* texts view list */

.texts_view_list_file {
	background-color: rgb(240,240,240);
	margin: 5px;
	padding: 2px;
	border-radius: 3px;
}
.texts_view_list_file table {
	border-collapse: collapse;
}
.texts_view_list_file table td {
	border-style: solid;
	border-width: 1px;
	border-collapse: collapse;
	border-color: rgb(173, 173, 173);
}




div#divTaskDetail {
	background-color: #cccccc;
}

.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
	background-color: #fefefe;
	margin: 15% auto; /* 15% from the top and centered */
	padding: 20px;
	border: 1px solid #888;
	width: 80%; /* Could be more or less, depending on screen size */
}
div.datetime {
	border-radius: 3px;
}
div.datetime.red {
	background-color: rgb(255, 0, 0);
	color: rgb(255, 255, 255);
}
div.datetime.yellow {
	background-color: rgb(255, 255, 0);
}

textarea {
	width: 500px;
}

@media screen and (min-width: 480px) 
{
	div.task_row div
	{
		/*float: left;*/
	}
}

.indicators {
	overflow: hidden;
}
.indicator {
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.9em;
	color: rgb(50, 50, 50);
	padding: 2px;
}

